<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <h1>Log In</h1>
    <div>
        <table>
           <form action="/login" method="POST">
               <tr>
                   <td>Email</td>
                   <td><input type="email" name="email" id=""></td>
                </tr>
                <tr>
                   <td>Password</td>
                   <td><input type="password" name="password" id=""></td>
               </tr>
               <tr>
                   <td><input type="submit" value="LogIn"></td>
               </tr>
           </form>
        </table>
    </div>
</body>
</html>